<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"><title>kconfig.h source code [linux-4.18.y/include/linux/kconfig.h] - Woboq Code Browser</title>
<link rel="stylesheet" href="../../../../data/qtcreator.css" title="QtCreator"/>
<link rel="alternate stylesheet" href="../../../../data/kdevelop.css" title="KDevelop"/>
<script type="text/javascript" src="../../../../data/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../../../data/jquery/jquery-ui.min.js"></script>
<script>var file = 'linux-4.18.y/include/linux/kconfig.h'; var root_path = '../../..'; var data_path = '../../../../data';</script>
<script src='../../../../data/codebrowser.js'></script>
</head>
<body><div id='header'><h1 id='breadcrumb'><span>Browse the source code of </span><a href='../..'>linux-4.18.y</a>/<a href='..'>include</a>/<a href='./'>linux</a>/<a href='kconfig.h.html'>kconfig.h</a></h1></div>
<hr/><div id='content'><table class="code">
<tr><th id="1">1</th><td><i>/* SPDX-License-Identifier: GPL-2.0 */</i></td></tr>
<tr><th id="2">2</th><td><u>#<span data-ppcond="2">ifndef</span> <span class="macro" data-ref="_M/__LINUX_KCONFIG_H">__LINUX_KCONFIG_H</span></u></td></tr>
<tr><th id="3">3</th><td><u>#define <dfn class="macro" id="_M/__LINUX_KCONFIG_H" data-ref="_M/__LINUX_KCONFIG_H">__LINUX_KCONFIG_H</dfn></u></td></tr>
<tr><th id="4">4</th><td></td></tr>
<tr><th id="5">5</th><td><u>#include <a href="../generated/autoconf.h.html">&lt;generated/autoconf.h&gt;</a></u></td></tr>
<tr><th id="6">6</th><td></td></tr>
<tr><th id="7">7</th><td><u>#<span data-ppcond="7">ifdef</span> <span class="macro" data-ref="_M/CONFIG_CPU_BIG_ENDIAN">CONFIG_CPU_BIG_ENDIAN</span></u></td></tr>
<tr><th id="8">8</th><td><u>#define __BIG_ENDIAN 4321</u></td></tr>
<tr><th id="9">9</th><td><u>#<span data-ppcond="7">else</span></u></td></tr>
<tr><th id="10">10</th><td><u>#define <dfn class="macro" id="_M/__LITTLE_ENDIAN" data-ref="_M/__LITTLE_ENDIAN">__LITTLE_ENDIAN</dfn> 1234</u></td></tr>
<tr><th id="11">11</th><td><u>#<span data-ppcond="7">endif</span></u></td></tr>
<tr><th id="12">12</th><td></td></tr>
<tr><th id="13">13</th><td><u>#define <dfn class="macro" id="_M/__ARG_PLACEHOLDER_1" data-ref="_M/__ARG_PLACEHOLDER_1">__ARG_PLACEHOLDER_1</dfn> 0,</u></td></tr>
<tr><th id="14">14</th><td><u>#define <dfn class="macro" id="_M/__take_second_arg" data-ref="_M/__take_second_arg">__take_second_arg</dfn>(__ignored, val, ...) val</u></td></tr>
<tr><th id="15">15</th><td></td></tr>
<tr><th id="16">16</th><td><i>/*</i></td></tr>
<tr><th id="17">17</th><td><i> * The use of "&amp;&amp;" / "||" is limited in certain expressions.</i></td></tr>
<tr><th id="18">18</th><td><i> * The following enable to calculate "and" / "or" with macro expansion only.</i></td></tr>
<tr><th id="19">19</th><td><i> */</i></td></tr>
<tr><th id="20">20</th><td><u>#define <dfn class="macro" id="_M/__and" data-ref="_M/__and">__and</dfn>(x, y)			___and(x, y)</u></td></tr>
<tr><th id="21">21</th><td><u>#define <dfn class="macro" id="_M/___and" data-ref="_M/___and">___and</dfn>(x, y)			____and(__ARG_PLACEHOLDER_##x, y)</u></td></tr>
<tr><th id="22">22</th><td><u>#define <dfn class="macro" id="_M/____and" data-ref="_M/____and">____and</dfn>(arg1_or_junk, y)	__take_second_arg(arg1_or_junk y, 0)</u></td></tr>
<tr><th id="23">23</th><td></td></tr>
<tr><th id="24">24</th><td><u>#define <dfn class="macro" id="_M/__or" data-ref="_M/__or">__or</dfn>(x, y)			___or(x, y)</u></td></tr>
<tr><th id="25">25</th><td><u>#define <dfn class="macro" id="_M/___or" data-ref="_M/___or">___or</dfn>(x, y)			____or(__ARG_PLACEHOLDER_##x, y)</u></td></tr>
<tr><th id="26">26</th><td><u>#define <dfn class="macro" id="_M/____or" data-ref="_M/____or">____or</dfn>(arg1_or_junk, y)		__take_second_arg(arg1_or_junk 1, y)</u></td></tr>
<tr><th id="27">27</th><td></td></tr>
<tr><th id="28">28</th><td><i>/*</i></td></tr>
<tr><th id="29">29</th><td><i> * Helper macros to use CONFIG_ options in C/CPP expressions. Note that</i></td></tr>
<tr><th id="30">30</th><td><i> * these only work with boolean and tristate options.</i></td></tr>
<tr><th id="31">31</th><td><i> */</i></td></tr>
<tr><th id="32">32</th><td></td></tr>
<tr><th id="33">33</th><td><i>/*</i></td></tr>
<tr><th id="34">34</th><td><i> * Getting something that works in C and CPP for an arg that may or may</i></td></tr>
<tr><th id="35">35</th><td><i> * not be defined is tricky.  Here, if we have "#define CONFIG_BOOGER 1"</i></td></tr>
<tr><th id="36">36</th><td><i> * we match on the placeholder define, insert the "0," for arg1 and generate</i></td></tr>
<tr><th id="37">37</th><td><i> * the triplet (0, 1, 0).  Then the last step cherry picks the 2nd arg (a one).</i></td></tr>
<tr><th id="38">38</th><td><i> * When CONFIG_BOOGER is not defined, we generate a (... 1, 0) pair, and when</i></td></tr>
<tr><th id="39">39</th><td><i> * the last step cherry picks the 2nd arg, we get a zero.</i></td></tr>
<tr><th id="40">40</th><td><i> */</i></td></tr>
<tr><th id="41">41</th><td><u>#define <dfn class="macro" id="_M/__is_defined" data-ref="_M/__is_defined">__is_defined</dfn>(x)			___is_defined(x)</u></td></tr>
<tr><th id="42">42</th><td><u>#define <dfn class="macro" id="_M/___is_defined" data-ref="_M/___is_defined">___is_defined</dfn>(val)		____is_defined(__ARG_PLACEHOLDER_##val)</u></td></tr>
<tr><th id="43">43</th><td><u>#define <dfn class="macro" id="_M/____is_defined" data-ref="_M/____is_defined">____is_defined</dfn>(arg1_or_junk)	__take_second_arg(arg1_or_junk 1, 0)</u></td></tr>
<tr><th id="44">44</th><td></td></tr>
<tr><th id="45">45</th><td><i>/*</i></td></tr>
<tr><th id="46">46</th><td><i> * IS_BUILTIN(CONFIG_FOO) evaluates to 1 if CONFIG_FOO is set to 'y', 0</i></td></tr>
<tr><th id="47">47</th><td><i> * otherwise. For boolean options, this is equivalent to</i></td></tr>
<tr><th id="48">48</th><td><i> * IS_ENABLED(CONFIG_FOO).</i></td></tr>
<tr><th id="49">49</th><td><i> */</i></td></tr>
<tr><th id="50">50</th><td><u>#define <dfn class="macro" id="_M/IS_BUILTIN" data-ref="_M/IS_BUILTIN">IS_BUILTIN</dfn>(option) __is_defined(option)</u></td></tr>
<tr><th id="51">51</th><td></td></tr>
<tr><th id="52">52</th><td><i>/*</i></td></tr>
<tr><th id="53">53</th><td><i> * IS_MODULE(CONFIG_FOO) evaluates to 1 if CONFIG_FOO is set to 'm', 0</i></td></tr>
<tr><th id="54">54</th><td><i> * otherwise.</i></td></tr>
<tr><th id="55">55</th><td><i> */</i></td></tr>
<tr><th id="56">56</th><td><u>#define <dfn class="macro" id="_M/IS_MODULE" data-ref="_M/IS_MODULE">IS_MODULE</dfn>(option) __is_defined(option##_MODULE)</u></td></tr>
<tr><th id="57">57</th><td></td></tr>
<tr><th id="58">58</th><td><i>/*</i></td></tr>
<tr><th id="59">59</th><td><i> * IS_REACHABLE(CONFIG_FOO) evaluates to 1 if the currently compiled</i></td></tr>
<tr><th id="60">60</th><td><i> * code can call a function defined in code compiled based on CONFIG_FOO.</i></td></tr>
<tr><th id="61">61</th><td><i> * This is similar to IS_ENABLED(), but returns false when invoked from</i></td></tr>
<tr><th id="62">62</th><td><i> * built-in code when CONFIG_FOO is set to 'm'.</i></td></tr>
<tr><th id="63">63</th><td><i> */</i></td></tr>
<tr><th id="64">64</th><td><u>#define <dfn class="macro" id="_M/IS_REACHABLE" data-ref="_M/IS_REACHABLE">IS_REACHABLE</dfn>(option) __or(IS_BUILTIN(option), \</u></td></tr>
<tr><th id="65">65</th><td><u>				__and(IS_MODULE(option), __is_defined(MODULE)))</u></td></tr>
<tr><th id="66">66</th><td></td></tr>
<tr><th id="67">67</th><td><i>/*</i></td></tr>
<tr><th id="68">68</th><td><i> * IS_ENABLED(CONFIG_FOO) evaluates to 1 if CONFIG_FOO is set to 'y' or 'm',</i></td></tr>
<tr><th id="69">69</th><td><i> * 0 otherwise.</i></td></tr>
<tr><th id="70">70</th><td><i> */</i></td></tr>
<tr><th id="71">71</th><td><u>#define <dfn class="macro" id="_M/IS_ENABLED" data-ref="_M/IS_ENABLED">IS_ENABLED</dfn>(option) __or(IS_BUILTIN(option), IS_MODULE(option))</u></td></tr>
<tr><th id="72">72</th><td></td></tr>
<tr><th id="73">73</th><td><u>#<span data-ppcond="2">endif</span> /* __LINUX_KCONFIG_H */</u></td></tr>
<tr><th id="74">74</th><td></td></tr>
</table><hr/><p id='footer'>
Generated while processing <a href='../../.tmp_kallsyms1.S.html'>linux-4.18.y/.tmp_kallsyms1.S</a><br/>Generated on <em>2018-Oct-01</em> from project linux-4.18.y revision <em>linux-4.18.y</em><br />Powered by <a href='https://woboq.com'><img alt='Woboq' src='https://code.woboq.org/woboq-16.png' width='41' height='16' /></a> <a href='https://code.woboq.org'>Code Browser</a> 2.1
<br/>Generator usage only permitted with license.</p>
</div></body></html>
