<dec f='linux-4.14.y/scripts/kconfig/conf.c' l='32' type='6'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='459'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='459'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='459'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='459'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='549' c='main'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='602' c='main'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='620' c='main'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='658' c='main'/>
