<dec f='linux-4.14.y/scripts/kconfig/lkc_proto.h' l='8' type='int conf_write_defconfig(const char * name)'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='702' u='c' c='main'/>
<def f='linux-4.14.y/scripts/kconfig/confdata.c' l='668' ll='739' type='int conf_write_defconfig(const char * filename)'/>
<doc f='linux-4.14.y/scripts/kconfig/confdata.c' l='664'>/*
 * Write out a minimal config.
 * All values that has default values are skipped as this is redundant.
 */</doc>
