<dec f='linux-4.14.y/scripts/kconfig/conf.c' l='34' type='8'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='454'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='454'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='454'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='454'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='515' c='main'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='581' c='main'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='665' c='main'/>
