<def f='linux-4.14.y/scripts/kconfig/confdata.c' l='530' ll='534' type='struct conf_printer'/>
<use f='linux-4.14.y/scripts/kconfig/confdata.c' l='720' u='a' c='conf_write_defconfig'/>
<use f='linux-4.14.y/scripts/kconfig/confdata.c' l='785' u='a' c='conf_write'/>
<use f='linux-4.14.y/scripts/kconfig/confdata.c' l='807' u='a' c='conf_write'/>
<use f='linux-4.14.y/scripts/kconfig/confdata.c' l='985' u='a' c='conf_write_autoconf'/>
<use f='linux-4.14.y/scripts/kconfig/confdata.c' l='997' u='a' c='conf_write_autoconf'/>
