<def f='linux-4.14.y/scripts/kconfig/confdata.c' l='487' ll='508' type='void kconfig_print_symbol(FILE * fp, struct symbol * sym, const char * value, void * arg)'/>
<use f='linux-4.14.y/scripts/kconfig/confdata.c' l='532'/>
<use f='linux-4.14.y/scripts/kconfig/confdata.c' l='532'/>
<doc f='linux-4.14.y/scripts/kconfig/confdata.c' l='479'>/*
 * Kconfig configuration printer
 *
 * This printer is used when generating the resulting configuration after
 * kconfig invocation and `defconfig&apos; files. Unset symbol might be omitted by
 * passing a non-NULL argument to the printer.
 *
 */</doc>
