<def f='linux-4.14.y/scripts/kconfig/confdata.c' l='510' ll='528' type='void kconfig_print_comment(FILE * fp, const char * value, void * arg)'/>
<use f='linux-4.14.y/scripts/kconfig/confdata.c' l='533'/>
<use f='linux-4.14.y/scripts/kconfig/confdata.c' l='533'/>
<use f='linux-4.14.y/scripts/kconfig/confdata.c' l='626'/>
<use f='linux-4.14.y/scripts/kconfig/confdata.c' l='626'/>
