<dec f='linux-4.14.y/scripts/kconfig/conf.c' l='37' type='11'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='373' u='r' c='conf'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='437' u='r' c='check_conf'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='462'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='462'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='468'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='468'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='462'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='462'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='468'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='468'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='551' c='main'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='596' c='main'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='677' c='main'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='685' u='r' c='main'/>
