<dec f='linux-4.14.y/scripts/kconfig/conf.c' l='35' type='9'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='455'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='455'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='455'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='455'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='516' c='main'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='591' c='main'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='668' c='main'/>
<use f='linux-4.14.y/scripts/kconfig/conf.c' l='701' u='r' c='main'/>
